<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Algorithmes Avancés</title>
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="stylesheet" href="resources/css/chapitre05.css">
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Algorithmes Avancés</h1>

    <article>
      <h2>Algorithmes de recherche</h2>

      <section>
        <h3>Recherche Séquentielle</h3>

        <h4>Utilisation</h4>
        <p>La <strong>recherche séquentielle</strong> est utilisée pour rechercher une valeur dans un tableau non trié.
        </p>

        <h4>Principe</h4>
        <p>Parcourir le tableau, dans l'ordre, de la première valeur jusqu'à trouver la valeur recherchée ou parcourir
          tout le tableau.</p>
        <p>Si la valeur est retrouvée on retourne son indice dans le tableau ou on peut aussi retourner un booléen pour
          vérifier l'existence de l'élément.</p>

        <h4>Simulation</h4>
        <div id="rech-seq" class="algo">
          <div class="boxes">
            <div class="box" v-for="item, idx in arr" v-bind:data-index="idx" v-bind:class="{'bg-dark': idx >= current}"
              v-on:click="handleClick(idx)">
              <span v-if="idx < current"
                v-bind:class="{'text-danger': value1 !== item, 'text-success': value1 === item}">{{item}}</span>
              <span v-if="idx >= current">&nbsp;</span>
            </div>
          </div>
          <div>Chercher dans quelle boîte se cache le nombre {{value1}}.</div>
          <div v-if="!message">Vous devez cliquer sur la boîte numéro {{current}} pour découvrir son contenu.</div>
          <div>{{message}}</div>
          <div class="text-center my-2 d-print-none">
            <button class="btn btn-primary" v-on:click="resetExistant()">Valeur existante</button>
            <button class="btn btn-primary" v-on:click="resetInexistant()">Valeur inexistante</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <p><strong>Ecrire l'algorithme d'une fonction qui recherche <strong>l'existence</strong> d'une valeur
            <code>v</code> dans un tableau <code>t</code> de <code>n</code> éléments.</strong></p>

        <div class="d-none d-print-block">
          <h4>Solution - Nouveau régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Fonction existe(v: entier; t: tab; n: entier):booléen
Début
  i &larr; 0
  trouve &larr; Faux
  TantQue (non trouve) et (i &lt; n) Faire
    trouve &larr; t[i] = v
    i &larr; i + 1
  Fin TantQue
  Retourner trouve
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i<br>trouve</td>
                    <td>entier<br>booléen</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <h4>Solution - Ancien régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">DEF FN existe(v: entier; t: tab; n: entier):booléen
Début
  i &larr; 1
  trouve &larr; Faux
  TantQue (non trouve) et (i &le; n) Faire
    trouve &larr; t[i] = v
    i &larr; i + 1
  Fin TantQue
  existe &larr; trouve
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i<br>trouve</td>
                    <td>entier<br>booléen</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="p-break">Recherche Dichotomique</h3>

        <h4>Utilisation</h4>
        <p>La <strong>Rechercher dichotomique</strong> est utilisée pour retrouver une valeur dans un tableau trié.</p>

        <h4>Principe</h4>
        <p>On suppose que la variable <strong>d</strong> indique l'indice du premier élément du tableau, que
          <code>f</code> indique l'indice du dernier élément du tableau et que le tableau <strong>est trié en ordre
            croissant</strong>.
        </p>

        <ol>
          <li>Calculer l'indice <code>m</code> de l'élément qui se trouve au centre de l'intervalle <code>[d, f]</code>
            : m ⟵ (d + f) div 2</li>
          <li>Si <code>t[m] = v</code> &rArr; Valeur trouvée à l'indice m</li>
          <li>Si <code>t[m] &lt; v</code> &rArr; Rechercher dans la partie droite du tableau, d ⟵ m + 1</li>
          <li>Si <code>t[m] &gt; v</code> &rArr; Rechercher dans la partie gauche du tableau, f ⟵ m - 1</li>
        </ol>

        <h4>Simulation</h4>
        <div id="rech-dicho" class="algo">
          <div class="boxes">
            <div class="box" v-for="item, idx in arr" v-bind:data-index="idx" v-bind:data-open="open[idx]"
              v-bind:class="{'bg-dark': open[idx] == 0, 'opened': open[idx] != 0}" v-on:click="handleClick(idx)">
              <span v-if="open[idx]"
                v-bind:class="{'text-danger': value1 !== item, 'text-success': value1 === item}">{{item}}</span>
              <span v-if="!open[idx]">&nbsp;</span>
            </div>
          </div>
          <div>Chercher dans quelle boîte se cache le nombre {{value1}}.</div>
          <div v-if="!message">Vous devez cliquer sur la boîte numéro {{current}} pour découvrir son contenu.</div>
          <div>{{message}}</div>
          <div class="text-center my-2 d-print-none">
            <button class="btn btn-primary" v-on:click="resetExistant()">Valeur existante</button>
            <button class="btn btn-primary" v-on:click="resetInexistant()">Valeur inexistante</button>
          </div>
        </div>

        <h4>Travail demandé</h4>
        <p><strong>Ecrire l'algorithme d'une fonction qui recherche <strong>l'existence</strong> d'une valeur
            <code>v</code> dans un tableau <code>t</code> de <code>n</code> éléments.</strong></p>

        <div class="d-none d-print-block">
          <h4>Solution - Nouveau régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Fonction existe(v: entier; t: tab; n: entier):booléen
Début
  d &larr; 0 ; f &larr; n-1
  TantQue f &ge; d Faire
    m &larr; (d + f) div 2
    Si t[m] = v Alors Retourner Vrai
    Sinon Si t[m] &lt; v Alors d &larr; m + 1
    Sinon f &larr; m - 1 Fin Si 
  Fin TantQue
  Retourner Faux
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>d, f, m</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <h4>Solution - Ancien régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">DEF FN existe(v: entier; t: tab; n: entier):booléen
Début
  d &larr; 0 ; f &larr; n-1 ; trouve &larr; Faux
  TantQue (non trouve) and (f &ge; d) Faire
    m &larr; (d + f) div 2
    Si t[m] = v Alors trouve &larr; Vrai
    Sinon Si t[m] &lt; v Alors d &larr; m + 1
    Sinon f &larr; m - 1 Fin Si 
  Fin TantQue
  existe &larr; trouve
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>d, f, m<br>trouve</td>
                    <td>entier<br>booléen</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article>
      <h2 class="p-break">Algorithmes de tri</h2>

      <section>
        <h3>Tri par sélection</h3>

        <img src="resources/chapitre_05/images/tri_selection.svg" width="516" alt="Tri par sélection" class="h3cm"
          align="right">

        <h4>Utilisation</h4>
        <p>Ordonner les éléments d'un tableau en ordre croissant ou décroissant.</p>

        <h4>Principe</h4>
        <ul>
          <li><strong>Sélectionner l'élément le plus petit</strong> de la <strong><em>partie non triée</em></strong>.
          </li>
          <li><strong>Placer</strong> cet élément <strong>à la fin</strong> de la <strong><em>partie
                triée</em></strong>.</li>
          <li><strong>Répéter ce processus</strong> jusqu'à ce que tout le tableau soit trié.</li>
        </ul>
        <div class="d-print-none">
          <h4>Simulation</h4>
          <div id="tri-selection" class="algo">
            <div class="my-1"><strong>n</strong> = {{this.arr.length}}</div>
            <div class="boxes">
              <div class="box" v-for="item, idx in arr" v-bind:data-index="idx" v-bind:data-open="getDataOpen(idx)"
                v-bind:class="{'box-i': idx == i, 'box-j': idx == j, 'bg-dark': !(open[idx] || sortedIdx[idx]), 'opened': open[idx] || sortedIdx[idx]}">
                <span v-if="open[idx] || sortedIdx[idx]">{{item}}</span>
                <span v-else>&nbsp;</span>
              </div>
            </div>
            <div v-if="!sorted">
              <p>Quel est l'élément qui doit être placé dans la <span class="text-danger">case d'indice {{i}}</span>
                ?</p>
              <span class="box box-j opened" data-open="t[j]">{{arr[j]}}</span> &lt;
              <span class="box box-i opened" data-open="t[i]">{{arr[i]}}</span> &rArr;
              <span class="p-2 mx-2" v-bind:class="{'bg-dark text-warning': arr[j] < arr[i]}">{{arr[j] < arr[i]}}</span>
                  <button class="btn btn-warning" v-if="arr[j] < arr[i]" v-on:click="performSwap()">
                    Permuter</button>
                  <button class="btn btn-secondary" v-if="!this.sorted && arr[j] >= arr[i]"
                    v-on:click="nextIteration()">Continuer</button>
            </div>
            <div>{{message}}</div>
            <div class="text-center my-2 d-print-none">
              <button class="btn btn-primary" v-if="sorted" v-on:click="resetSort()">Nouveau tri</button>
            </div>
          </div>
        </div>


        <h4>Travail demandé</h4>
        <p>Ecrire l'algorithme de la procédure <code>TriSelection(n, t)</code> qui ordonne les éléments de
          <code>t</code> en ordre décroissant.
        </p>

        <div class="d-none d-print-block">
          <h4>Solution - Nouveau régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Procédure TriSelection(n: entier; @t: tab)
Début
  Pour i de 0 à n-2 faire
    Pour j de i+1 à n-1 faire
      Si t[j] &lt; t[i] Alors
        aux &larr; t[j]
        t[j] &larr; t[i]
        t[i] &larr; aux
      Fin Si
    Fin Pour
  Fin Pour
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i, j, aux</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <h4>Solution - Ancien régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Procédure TriSelection(n: entier; var t: tab)
Début
  Pour i de 1 à n-1 faire
    Pour j de i+1 à n faire
      Si t[j] &lt; t[i] Alors
        aux &larr; t[j]
        t[j] &larr; t[i]
        t[i] &larr; aux
      Fin Si
    Fin Pour
  Fin Pour
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i, j, aux</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="p-break">Tri à bulles</h3>

        <img src="resources/chapitre_05/images/tri_bulles.svg" width="516" alt="Tri à bulles" class="h3cm"
          align="right">

        <h4>Utilisation</h4>
        <p>Ordonner les éléments d'un tableau en ordre croissant ou décroissant.</p>

        <h4>Principe</h4>
        <ul>
          <li><strong>Parcourir le tableau</strong> tout en <strong>comparant chaque paire d'éléments
              adjacents</strong>.
            <ul>
              <li><strong>Echanger</strong>, si l'élément de gauche est plus grand que celui de droite.</li>
            </ul>
          </li>
          <li><strong>Répéter ce processus</strong> jusqu'à ce que tout le tableau soit trié, ou aucun échange n'a été
            effectué.</li>
        </ul>

        <div class="d-print-none">
          <h4>Simulation</h4>
          <div id="tri-bulles" class="algo">
            <div class="boxes">
              <div class="box" v-for="item, idx in arr" v-bind:data-index="idx" v-bind:data-open="getDataOpen(idx)"
                v-bind:class="{'box-i': idx == j-1, 'box-j': idx == j, 'bg-dark': !isOpen(idx), 'opened': isOpen(idx)}">
                <span v-if="isOpen(idx)">{{item}}</span>
                <span v-else>&nbsp;</span>
              </div>
            </div>
            <div v-if="!sorted">
              <p>Quel est l'élément qui doit être placé dans la <span class="text-danger">case d'indice {{arr.length
                  - 1 - i}} ?</span></p>
              <span class="box box-j opened" data-open="t[i+1]">{{arr[j]}}</span> &lt;
              <span class="box box-i opened" data-open="t[i]">{{arr[j-1]}}</span> &rArr;
              <span class="p-2 mx-2" v-bind:class="{'bg-dark text-warning': arr[j] < arr[j-1]}">{{arr[j] <
                  arr[j-1]}}</span>
                  <button class="btn btn-warning" v-if="arr[j] < arr[j-1]" v-on:click="performSwap()">
                    Permuter</button>
                  <button class="btn btn-secondary" v-if="!this.sorted && arr[j] >= arr[j-1]"
                    v-on:click="nextIteration()">Continuer</button>
            </div>
            <div>{{message}}</div>
            <div class="text-center my-2 d-print-none">
              <button class="btn btn-primary" v-if="sorted" v-on:click="resetSort()">Nouveau tri</button>
            </div>
          </div>
        </div>


        <h4>Travail demandé</h4>
        <p>Ecrire l'algorithme de la procédure <code>TriBulles(n, t)</code> qui ordonne les éléments de
          <code>t</code> en ordre décroissant.
        </p>

        <div class="d-none d-print-block">
          <h4>Solution - Nouveau régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Procédure TriBilles(n: entier; @t: tab)
Début
  Pour i de 0 à n-2 faire
    Pour j de 1 à n-1 faire
      Si t[j] &lt; t[j-1] Alors
        aux &larr; t[j]
        t[j] &larr; t[j-1]
        t[j-1] &larr; aux
      Fin Si
    Fin Pour
  Fin Pour
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i, j, aux</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <h4>Solution - Ancien régime</h4>
          <div class="row">
            <div class="col-8">
              <pre><code class="algorithm">Procédure TriBulles(n: entier; var t: tab)
Début
  Pour i de 1 à n-1 faire
    Pour j de 2 à n faire
      Si t[j] &lt; t[j-1] Alors
        aux &larr; t[j]
        t[j] &larr; t[j-1]
        t[j-1] &larr; aux
      Fin Si
    Fin Pour
  Fin Pour
Fin</code></pre>
            </div>
            <div class="col-4">
              T.D.O.L
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>i, j, aux</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="p-break">Tri par insertion</h3>

        <img src="resources/chapitre_05/images/tri_insertion.png" alt="Tri par insertion" class="h3cm" align="right">

        <h4>Utilisation</h4>
        <p>Ordonner les éléments d'un tableau en ordre croissant ou décroissant.</p>

        <h4>Principe</h4>
        <ol>
          <li>Pour chaque élément d'indice <code>i</code> allant de 0 à n-2</li>
          <li>Pour chaque élément d'indice <code>j</code> allant de 1 à n-1</li>
          <li>Si t[j] &lt; t[j-1] &rArr; permuter(t[j], t[j-1])</li>
        </ol>

        <div class="d-print-none">
          <h4>Simulation</h4>
          <div id="tri-insert-old" class="algo">
            <div v-if="!sorted">
              <button class="btn btn-secondary" v-on:click="nextStep()">Continuer</button>
              <button class="btn btn-secondary" v-on:click="sortAll()">Trier</button>
            </div>
            <div v-if="sorted">
              <button class="btn btn-primary" v-on:click="resetSort()">Nouveau tri</button>
            </div>
            <div class="my-2" v-if="!sorted">
              <p v-if="step >= 0">On veut placer l'élément <span class="text-danger">{{item}}</span> dans la partie
                triée.</p>
              <ol>
                <li v-if="step >= 1">Sortir l'élément <code>arr[{{i}}] = {{item}}</code> du tableau :
                  <code>elem &larr; arr[{{i}}]</code>.
                </li>
                <li v-if="step >= 2 && j < 0">Tous les éléments sont supérieurs à <code>elem</code> ? <span
                    class="text-success"><strong>Oui</strong></span></li>
                <li v-if="step >= 2 && j >= 0">Comparer <code>elem</code> à l'élément <code>arr[{{j}}]</code> :
                  {{item}} &lt; {{arr[j]}} ? <span
                    v-bind:class="{'text-success': item < arr[j], 'text-danger': item >= arr[j]}"><strong>{{item <
                        arr[j] ? "Oui" : "Non" }}</strong></span></li>
                <li v-if="step == 3">
                  Décaler l'élément <code>{{numberShifted}}</code> de la position
                  <code>{{numberShiftedToPosition-1}}</code> à la position
                  <code>{{numberShiftedToPosition}}</code> : <code>arr[{{j+1}}] &larr; arr[{{j}}]</code>.
                </li>
                <li v-if="step >= 4">Remettre l'élément <code>elem</code> dans la position {{j+1}} :
                  <code>arr[{{j+1}}] &larr; {{item}}</code>
                </li>
              </ol>

            </div>

            <div class="boxes">
              <div class="box" v-for="elem, idx in arr" v-bind:data-index="idx"
                v-bind:data-open="(idx <= sortedToIndex || (step == 5 && idx <= i)) ? 'trié' : ''"
                v-bind:class="{'bg-dark': idx > i, 'opened': idx <= i}">
                <span v-if="step == 0" v-bind:class="{'text-danger': idx == i}">{{(idx <= i) ? elem : "" }}</span>
                    <span v-if="step == 1">{{(idx < i) ? elem : "" }}</span>
                        <span v-if="step == 2 || step == 3 || step == 4" v-bind:class="{'text-success': idx >= j}">{{(j
                          == i-1 && idx < i) || (j < i-1 && idx <=i && idx !=j+1) ? elem : "" }}</span>


                            <span v-if="step > 4">{{elem}}</span>
              </div>

            </div>
            <div class="boxes" v-if="showItem">
              <div class="box" v-for="elem, idx in arr" data-index="elem"
                v-bind:class="{'invisible': idx != i, 'visible': idx == i}">
                <span>{{item}}</span>
              </div>
            </div>
          </div>

          <div id="tri-insert" class="algo">
            <p>Step : {{step}}</p>
            <div v-if="step == -1">
              <p>Le tableau <code>t</code> à trier.</p>
              <table class="table-boxes">
                <tr>
                  <td v-for="elem, idx in arr0" class="box">{{elem}}</td>
                </tr>
                <tr>
                  <td v-for="elem, idx in arr0" class="index">{{idx}}</td>
                </tr>
              </table>
            </div>

            <div v-if="step >= 0 && step <= 2">
              <p>On veut placer l'élément <code>t[i] = {{arr[i]}}</code> dans la partie triée.</p>
              <p v-if="step >= 1">
                Vérifier si l'élémet
                <span class="box opened box-i" data-open="t[i]">{{arr[i]}}</span> &lt;
                <span class="box opened box-j" data-open="t[i-1]">{{arr[i-1]}}</span> ?
                {{arr[i] < arr[i-1]}} &rArr;
                <strong>{{arr[i] < arr[i-1] ? "non trié" : "trié" }}</strong>
              </p>
              <p v-if="step >= 2">Chercher</p>
              <table class="table-boxes">
                <tr>
                  <td v-for="elem, idx in arr0" class="box"
                    v-bind:class="{'sorted': idx < i, 'box-i': idx == i, 'bg-dark': idx > i}"
                    v-bind:data-annotation="getAnnotation(idx)">
                    <span v-if="idx <= i">{{elem}}</span>
                    <span v-else>&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td v-for="elem, idx in arr0" class="index">{{idx}}</td>
                </tr>
              </table>
            </div>

            <div class="my-2"><button class="btn btn-secondary" v-on:click="nextStep()">Continuer...</button></div>
          </div>

          <h4>Travail demandé</h4>
          <p>Ecrire l'algorithme de la procédure <code>TriInsertion(n, t)</code> qui ordonne les éléments de
            <code>t</code> en ordre décroissant.
          </p>

          <div class="d-none d-print-block">
            <h4>Solution - Nouveau régime</h4>
            <div class="row">
              <div class="col-8">
                <pre><code class="algorithm">Procédure TriInsertion(n: entier; @t: tab)
Début
  Pour i de 1 à n-1 faire
    pi &larr; i - 1
    Tant Que (pi &ge; 0) et (t[i] &lt; t[pi]) Faire
      pi &larr; pi - 1
    Fin Tant Que
    k &larr; t[i]
    Décaler(t, pi + 1, i - 1)
    t[pi + 1] = k
  Fin Pour
Fin</code></pre>
              </div>
              <div class="col-4">
                T.D.O.L
                <table class="table table-sm table-bordered border-dark table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Objet</th>
                      <th>Type/Nature</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>i, j, aux</td>
                      <td>entier</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <pre><code class="algorithm">Procédure Décaler(@t: tab, deb: entier, fin: entier)
Début
  Pour i de fin à deb faire [pas=-1]
    t[i+1] &larr; t[i]
  Fin Pour
Fin</code></pre>
              </div>
              <div class="col-4">
                T.D.O.L
                <table class="table table-sm table-bordered border-dark table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Objet</th>
                      <th>Type/Nature</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>i, j, aux</td>
                      <td>entier</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2021/2022</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.min.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    // document.querySelectorAll('.language-algorithm,.language-python,.language-delphi')
    //   .forEach(item => {
    //     const div = document.createElement('div');
    //     div.className = 'bd-clipboard d-print-none';
    //     const btn = document.createElement('button');
    //     btn.className = 'btn-clipboard';
    //     btn.textContent = "📋";
    //     btn.title = "Copier";
    //     div.appendChild(btn);
    //     item.parentElement.insertBefore(div, item);
    //   });
    // new ClipboardJS('.btn-clipboard', {
    //   target: (trigger) => {
    //     return trigger.parentElement.nextElementSibling;
    //   }
    // });
  </script>
  <script src="resources/js/funcs.js"></script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/chapitre05.js"></script>
</body>

</html>