<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Structures itératives</title>
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <style type="text/css">
    .center {
      text-align: center;
    }

    .black_border {
      text-align: center;
      border: 1px #000 solid;
    }

    .surlignage {
      background-color: #FF3300;
      color: #FFFFFF;
    }

    input.fn-predefinies {
      display: none;
    }

    /** exemple-for **/
    .panneau {
      display: flex;
      background-color: #333;
      width: 388px;
      margin: 0 auto;
    }

    .panneau button {
      width: 60px;
      height: 32px;
      border: 1px solid #333;
      background-color: #888;
      margin: 8px 4px;
      border-radius: 4px;
      background-color: #ffeaa3b7;
    }

    .panneau button:hover {
      background-color: #ffeaa3;
    }

    .cercle {
      border: 1px solid #333;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 8px 4px;
      background-color: #888;
    }

    .cercle.allume {
      background-color: red;
      border-color: transparent;
    }
  </style>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Structures itératives</h1>

    <article>
      <h2>Structure itérative complète</h2>

      <section>
        <h3>Exemple 1 - Arrivées dans un hôtel</h3>

        <p>Dans un hôtel, à la récéption, le réceptioniste accueille les clients, enregistre leurs séjours et leurs
          donne les clés de leurs chambres.</p>

        <figure>
          <img class="h2cm" src="resources/images/file-attente.png" alt="File d'attente">
          <figcaption>Réception d'un hôtel, file d'attente</figcaption>
        </figure>

        <p>Dans le cas où il y a quatre clients qui viennent tout juste d'arriver. Le réceptioniste exécute les mêmes
          tâches pour chacun d'eux.</p>
        <p>La procédure de réception se déroule pour un client comme suit :</p>
        <ul>
          <li>Sourir</li>
          <li>Souhaiter la bienvenue</li>
          <li>Demander les pièces d'identités</li>
          <li>Enregistrer les information du client</li>
          <li>Affecter une chambre</li>
          <li>Retourner les pièces d'identité</li>
          <li>Donner la clé de la chambre</li>
          <li>Indiquer le numéro de chambre</li>
          <li>Appeler le porteur de bagages</li>
          <li>Demander au porteur de bagages d'indiquer le chemin au client</li>
          <li>Souhaiter la bienvenue</li>
        </ul>
        <p>D'où on peut écrire le pseudo-code (algorithme) suivant :</p>

        <pre><code class="language-algorithm">Pour cpt de 1 à 4 Faire
  // Exécuter la procédure de réception
Fin Pour</code></pre>
      </section>

      <section>
        <h3>Exemple 2 - Panneau lumineux</h3>

        <p>Soit le panneau lumineux suivant, cliquer sur le bouton [On] pour allumer les voyants lumineux:</p>
        <div id="exemple-for">
          <div class="panneau">
            <div class="cercle" v-for="lamp in lamps" v-bind:class="{'allume':lamp==1}"></div>
            <button v-on:click="start()">{{counter == -1 ? "On" : "Off"}}</button>
          </div>
        </div>

        <p>Ecrire un programme jeu de lumière qui permet d'allumer les voyants à tour de rôle.</p>
        <p>On suppose que :</p>
        <ul>
          <li>Les voyants sont numérotés de 0 à 7</li>
          <li>La fonction <strong>Allumer(i)</strong>, allume le voyant n°i</li>
          <li>La fonction <strong>Eteindre(i)</strong>, éteint le voyant n°i</li>
          <li>La fonction <strong>Attendre(t)</strong>, fait une pause de t millisecondes</li>
        </ul>

        <div id="solution-voyants" class="d-print-none">
          <h4>Travail demandé</h4>
          <p>Ordonner les instructions suivantes :</p>
          <ol v-if="!is_correct && nbre_essais < 6">
            <li class="my-1" v-for="operation, idx in operations">
              <select v-model="selected[idx]">
                <option v-for="operation, idx2 in operations" v-bind:value="idx2">{{operation}}</option>
              </select>
            </li>
          </ol>
          <div v-else>
            <ol>
              <li class="my-1" v-for="operation, idx in operations">{{operation}}</li>
            </ol>
          </div>
          <div v-if="!is_correct" class="my-2"><button class="btn btn-primary" v-on:click="verifier()">{{nbre_essais < 5
                ? "Vérifier" : "Corriger" }}</button>
          </div>
          <div class="my-2"><strong><em>Nombre d'essais : {{nbre_essais}}</em></strong></div>
        </div>

        <div class="d-none d-print-block">
          <pre><code class="language-algorithm">Pour i de 0 à 7 Faire
  Allumer(i)
  Attendre(200)
  Eteindre(i)
Fin Pour</code></pre>
        </div>

      </section>

      <section>
        <h3>Définition</h3>

        <p>Une structure itérative complète est utilisée pour <strong>répéter une suite d'instructions, un nombre fini
            de fois connu à l'avance</strong>.</p>

        <h4>Forme 1</h4>
        <p>Compter de <strong>0</strong> à <strong>n-1</strong> par <strong>pas de 1</strong>, n &gt; 0.</p>
        <div class="row">
          <div class="col-sm-4">
            <pre><code class="language-algorithm">Pour cpt de 0 à n-1 Faire
  // Traitements
Fin Pour</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-delphi">for cpt:=0 to n-1 do begin
  // Traitements
end;</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-python">for cpt in range(n):
  # Traitements
  </code></pre>
          </div>
        </div>
        <h4>Forme 2</h4>
        <p>Compter de <strong>d</strong> à <strong>f</strong> par <strong>pas de 1</strong>, f &gt; d.</p>
        <div class="row">
          <div class="col-sm-4">
            <pre><code class="language-algorithm">Pour cpt de d à f Faire
  // Traitements
Fin Pour</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-delphi">for cpt:=d to f do begin
  // Traitements
end;</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-python">for cpt in range(d, f+1):
  # Traitements
  </code></pre>
          </div>
        </div>

        <h4>Forme 3</h4>
        <p>Décompter de <strong>d</strong> à <strong>f</strong> par <strong>pas de -1</strong>, f &lt; d.</p>
        <div class="row">
          <div class="col-sm-4">
            <pre><code class="language-algorithm">Pour cpt de d à f [pas=-1] Faire
  // Traitements
Fin Pour</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-delphi">for cpt:=d downto f do begin
  // Traitements
end;</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-python">for cpt in range(d, f-1, -1):
  # Traitements
  </code></pre>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 1 - Table de multiplication</h3>

        <p>Ecrire un programme qui permet d'afficher les 10 premiers multiples d'un nombre n donné.</p>

        <figure>
          <img src="resources/images/table-multiplication.png" alt="Table de multiplication">
          <figcaption>Table de multiplication</figcaption>
        </figure>
      </section>

      <section>
        <h3>Solution</h3>

        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Table_Multiplication
Début
  Ecrire("Donner un nombre ? ")
  Lire(n)

  Pour i de 1 à 10 faire
    Ecrire(n, "&times;", i, "=", n*i)
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>n, i</td>
                  <td>entier</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 2 - Consonnes</h3>

        <p>Ecrire un programme qui affiche uniquement les consonnes majuscules.</p>
        <div class="my-2 p-2 fs-1 text-center border border-secondary bg-light">
          <script>
            const voyelles = "OIYEAU";
            for (let i = 0; i < 26; i++) {
              const car = String.fromCharCode(65 + i);
              if (voyelles.indexOf(car) == -1) {
                document.write("<span class=\"text-success\">" + car + "</span>");
              } else {
                document.write("<span class=\"text-danger\">" + car + "</span>");
              }
            }
          </script>
        </div>
        <p>Les lettres en <span class="text-danger">rouge</span> sont les voyelles, tandis que les lettres en <span
            class="text-success">vert</span> sont les consonnes.</p>
      </section>

      <section>
        <h3>Solution</h3>

        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Consonnes
Début
  Pour i de 0 à 25 faire
    car &larr; chr(65 + i)
    Si car &notin; ["A","E","I","O","U","Y"] Alors
      Ecrire(car)
    Fin Si
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>i</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>car</td>
                  <td>caractère</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 3 - Promotion des employés</h3>

        <p>Ecrire un programme qui saisit les <strong>noms</strong> des <strong>n</strong> employés d'une société, ainsi
          que leurs anciennetés <strong>anc</strong>, puis affiche ceux et celles qui méritent une promotion.</p>
        <p>Il suffit de dépasser six ans d'ancienneté pour mériter une promotion.</p>
        <pre><code class="nohighlight shell python" data-text="Exemple"><script>
          const noms = ["Amir", "Aziz", "Nour", "Rayen", "Abrar", "Amal"];
          const anc = [3, 8, 1, 9, 4, 5];
          document.write("Nombre d'employés ? " + anc.length + "\n")
          for (let i = 0; i < anc.length; i++) {
            document.write("Nom employé n°" + (i + 1) + " ? " + noms[i] + "\n");
            document.write("Anciennté " + noms[i] + " ? " + anc[i] + "\n");
          }
          document.write("Les employés qui méritent une promotion sont :\n")
          for (let i = 0; i < anc.length; i++) {
            if (anc[i] >= 6) {
              document.write("* " + noms[i] + " pour " + anc[i] + " ans de service\n");
            }
          }
        </script></code></pre>
      </section>

      <section>
        <h3>Solution</h3>

        <h4>Nouveau régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Promotion
Début
  Ecrire("Nombre d'employés ? ")
  Lire(n)
  Pour i de 0 à n-1 faire
    Ecrire("Nom employé n°", i+1, " ?")
    Lire(noms[i])
    Ecrire("Anciennté ", noms[i], " ? ")
    Lire(anc[i])
  Fin Pour
  Ecrire("Les employés qui méritent une promotion sont :")
  Pour i de 0 à n-1 faire
    Si anc[i] >= 6 Alors
      Ecrire(noms[i], " pour ", anc[i], " ans de services")
    Fin Si
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>TDNT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>tab_ch = tableau de 20 chaîne<br>
                    tab_en = tableau de 20 entier</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>n, i</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>noms</td>
                  <td>tab_ch</td>
                </tr>
                <tr>
                  <td>anc</td>
                  <td>tab_en</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h4>Ancien régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Début Promotion
  Ecrire("Nombre d'employés ? ")
  Lire(n)
  Pour i de 1 à n faire
    Ecrire("Nom employé n° ", i, " ?")
    Lire(noms[i])
    Ecrire("Anciennté ", noms[i], " ? ")
    Lire(anc[i])
  Fin Pour
  Ecrire("Les employés qui méritent une promotion sont :")
  Pour i de 1 à n faire
    Si anc[i] >= 6 Alors
      Ecrire(noms[i], " pour ", anc[i], " ans de services")
    Fin Si
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>TDNT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>tab_ch = tableau de 20 chaîne<br>
                    tab_en = tableau de 20 entier</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>n, i</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>noms</td>
                  <td>tab_ch</td>
                </tr>
                <tr>
                  <td>anc</td>
                  <td>tab_en</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </article>

    <article>
      <h2>Structure itérative à condition d'arrêt</h2>

      <section>
        <h3>Exemple 3 - Le jeu de l'échelle</h3>

        <div>
          <figure class="float-end">
            <img class="h3cm" src="resources/images/echelle-en-aluminium-10-marches.jpg" alt="Echelle 10 marches">
            <figcaption>Echelle 10 marches</figcaption>
          </figure>

          <p>En l'absence de ses parent, un enfant joue le jeu de l'échelle qui consiste à grimper une échelle de 10
            marches.</p>

          <p>L'enfant grimpe <u>parfois</u> <strong>une seule marche</strong> <u>d'autres fois</u> <strong>deux
              marches</strong> jusqu'à atteindre la dernière.</p>

          <p><strong>Combien de fois devra-t-il grimper pour atteindre le sommet ?</strong></p>

          <p>On demande d'écrire un programme pour simuler cette situation.</p>

          <p class="text-danger"><strong>Attention :</strong> Si l'enfant est dans l'avant dernière marche et qu'il
            décide de grimper, encore, deux marches, il risque de tomber.</p>
        </div>

        <div id="jeu-echelle">
          <h4>Travail demandé</h4>
          <p>On donne l'algorithme suivant, et on demande de le terminer :</p>
          <div class="row">
            <div class="col-sm-8">
              <pre><code class="language-algorithm">Algorithme Echelle
Début
  pos &larr; 0 // position actuelle
  cpt &larr; 0 // compteur nbre de fois
  ............... //(1)
    // Sélectionner un nombre aléatoire 1 ou 2
    nbm &larr; .............. //(2)
    // Si l'enfant n'a pas atteint
    // le sommet de l'échelle
    Si ............... Alors //(3)
      // Incrémenter :
      // - le compteur du nbre de fois
      // - la position actuelle
      cpt &larr; ............... //(4)
      pos &larr; ............... //(5)
      Ecrire("Youssef a monté", nbm, "marches, il est à la position", pos)
    Fin Si
  ............... //(6)
  Ecrire("Youssef a atteint le sommet de l'échelle en", cpt, "fois")
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <div class="d-print-none">
                <div v-if="!winner">
                  <ol>
                    <li class="my-2" v-for="op, idx in operations">
                      <select v-model="selected[idx]">
                        <option v-for="op1, idx1 in operations" v-bind:value="op1.pos">{{op1.op}}</option>
                      </select>
                    </li>
                  </ol>
                  <div class="my-2">
                    <button class="btn btn-primary" v-on:click="verifier()">Vérifier</button>
                  </div>
                </div>
                <div v-else>
                  <ol>
                    <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                  </ol>
                </div>
              </div>
              <div class="d-none d-print-block">
                <ol>
                  <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <div class="p-break row">
            <div class="col-sm-8">
              <h4>Solution</h4>
              <pre><code class="language-algorithm">Algorithme Echelle
Début
  pos &larr; 0
  cpt &larr; 0
  Répéter
    nbm &larr; aléa(1, 2)
    Si pos+nbm &le; 10 Alors
      cpt &larr; cpt + 1
      pos &larr; pos + nbm
      Ecrire("Youssef a monté", nbm, "marches, il est à la position", pos)
    Fin Si
  Jusqu'à pos = 10
  Ecrire("Youssef a atteint le sommet de l'échelle en", cpt, "fois")
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>pos, cpt, nbm</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Exemple 4 - Devine mon nombre</h3>

        <p>Dans le jeu devine mon nombre l'ordinateur <strong>choisit un nombre</strong> dans l'intervalle [0, 99] et
          l'utilisateur <strong>doit le retrouver</strong>.</p>
        <p><strong><em>Le nombre d'essais est illimité.</em></strong></p>

        <p>Le jeu se déroule comme suit :</p>
        <ol>
          <li>L'ordinateur choisit un nombre au hasard <code>secret</code> dans l'intervalle [0, 99].</li>
          <li>L'utilisateur fait un essai pour le deviner <code>nombre</code>.</li>
          <li>L'ordinateur, vérifie :
            <ul>
              <li>Si <strong>nombre &lt; secret</strong>, l'ordinateur indique que le nombre à deviner est plus grand
              </li>
              <li>Si <strong>nombre > secret</strong>, l'ordinateur indique que le nombre à deviner est plus petit</li>
            </ul>
          </li>
          <li>Si le <strong>nombre = secret</strong>, l'utilisateur a trouvé le bon nombre et le jeu s'arrête,
            <strong>sinon</strong> on répète les étapes 2 et 3
          </li>
          <li>L'ordinateur affiche un message de félicitations</li>
        </ol>

        <style>
          #simulation-jeu-devinette {
            margin: 10px;
            padding: 10px;
            text-align: center;
            background-color: cadetblue;
            border-radius: 20px;
            font-size: 20pt;
          }

          #simulation-jeu-devinette h4 {
            font-size: 30pt;
            color: #fff;
          }

          #simulation-jeu-devinette input {
            font-size: 70pt;
            text-align: center;
            width: 3em;
            border: 1px solid transparent;
            border-radius: 20px;
          }
        </style>
        <div id="simulation-jeu-devinette" class="d-print-none">
          <h4>Jeu de devinette</h4>

          <p>J'ai choisi un nombre entre 0 et 99, et c'est à vous de le deviner.</p>

          <p><input type="number" min="0" max="99" step="1" v-model="nombre"></p>

          <div class="my-2">{{message}}</div>

          <div class="text-center"><button class="btn btn-primary" v-on:click="verifier()">Vérifier</button></div>
        </div>

        <div id="jeu-devinette">
          <h4>Travail demandé</h4>
          <p>On donne l'algorithme suivant, et on demande de le terminer :</p>
          <div class="row">
            <div class="col-sm-8">
              <pre><code class="language-algorithm">Algorithme devinette
Début
  // choisir un nombre entre 0 et 99
  secret &larr; ............... // (1)
  ............... // (2)
    // Essai de l'utilisateur
    Ecrire("Devine mon nombre [0, 99] ? ")
    Lire(nombre)

    Si ............... Alors // (3)
      Ecrire("Plus grand que", nombre)
    Sinon Si ............... Alors // (4)
      Ecrire("Plus petit que", nombre)
    Fin Si
  Jusqu'à ............... //(5)
  Ecrire("Félicitations tu as gagné!")
  Ecrire(...............) (6)
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <div class="d-print-none">
                <div v-if="!winner">
                  <ol>
                    <li class="my-2" v-for="op, idx in operations">
                      <select v-model="selected[idx]">
                        <option v-for="op1, idx1 in operations" v-bind:value="op1.pos">{{op1.op}}</option>
                      </select>
                    </li>
                  </ol>
                  <div class="my-2">
                    <button class="btn btn-primary" v-on:click="verifier()">Vérifier</button>
                  </div>
                </div>
                <div v-else>
                  <ol>
                    <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                  </ol>
                </div>
              </div>
              <div class="d-none d-print-block">
                <ol>
                  <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-print-block">
          <div class="p-break row">
            <div class="col-sm-8">
              <h4>Solution</h4>
              <pre><code class="language-algorithm">Algorithme devinette
Début
  // choisir un nombre entre 0 et 99
  secret &larr; aléa(0, 99)
  Répéter
    // Essai de l'utilisateur
    Ecrire("Devine mon nombre [0, 99] ? ")
    Lire(nombre)

    Si nombre &lt; secret Alors 
      Ecrire("Plus grand que", nombre)
    Sinon Si nombre > secret Alors
      Ecrire("Plus petit que", nombre)
    Fin Si
  Jusqu'à nombre = secret
  Ecrire("Félicitations tu as gagné!")
  Ecrire("Le nombre caché est", secret)
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>nombre, secret</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Définition</h3>

        <p>Une <b>structure à condition d'arrêt</b> est utilisée pour répéter une suite d'actions <u><b>jusqu'à</b></u>
          ce qu'une <u><b>condition</b></u> soit vraie.</p>

        <div class="row">
          <div class="col-sm-4">
            <pre><code class="language-algorithm">Répéter
  // Traitements

Jusqu'à condition</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-delphi">repeat
  // Traitements

until condition;</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-python">while True:
  # Traitements
  if condition:
    break</code></pre>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 4 - Les 4 saisons</h3>

        <figure class="d-print-none">
          <img class="h5cm" src="resources/images/roue-saisons.png" alt="Roue des saisons">
          <figcaption>Roue des saisons</figcaption>
        </figure>

        <p>Ecrire un programme qui permet à l'utilisateur de saisir un mois &in; [1, 12]. Puis affiche la saison
          correspondante.</p>
        <ul>
          <li>Hiver : Mois de Janvier à Mars</li>
          <li>Printemps : Mois de Avril à Juin</li>
          <li>Eté : Mois de Juillet à Septembre</li>
          <li>Automne : Mois de Octobre à Décembre</li>
        </ul>
      </section>

      <section>
        <h3>Solution</h3>

        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme saisons
Début
  Répéter
    Ecrire("Mois de l'année [1, 12] ? ")
    Lire(mois) // qté de pâte
  Jusqu'à 1 &le; mois &le; 12
  Si 1 &le; mois &le; 3 Alors
    Ecrire("Hiver")
  Sinon Si 4 &le; mois &le; 6 Alors
    Ecrire("Printemps")
  Sinon Si 7 &le; mois &le; 9 Alors
    Ecrire("Eté")
  Sinon
    Ecrire("Automne")
  Fin Si
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>mois</td>
                  <td>entier</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 5 - Les Youyou</h3>

        <figure>
          <img class="h3cm" src="resources/images/you-you.jpg" alt="YouYou">
          <figcaption>YouYou</figcaption>
        </figure>

        <p>Eya aime les "YouYou". Aujourd'hui, elle décide d'en préparer. Après avoir mélangé les ingrédients, elle
          obtient <strong>qp</strong> grammes de pâte, <strong>qp&ge;200</strong>gr.</p>
        <p>Sachant qu'une pièce de "YouYou" pèse, <strong>py</strong>, entre 60g et 90g, on veut calculer le nombre de
          "YouYou", <strong>ny</strong>, que Eya obtiendra à la fin.</p>
        <p><strong><em>Si la quantité de pâte est insuffisante, inférieure à 60gr, on ne peut pas fabriquer un
              "YouYou".</em></strong></p>
        <p>On demande écrire un programme pour simuler la situation.</p>

        <pre><code class="nohighlight shell python" data-text="Exemple"><script>
          let qp = Math.floor(Math.random() * 5 + 2) * 100;
          document.write("Quantité de pâte en grammes ? " + qp + "\n")
          let ny = 0;
          do {
            let py = Math.floor(Math.random() * 31) + 60;
            py = qp >= py ? py : qp;
            if (py >= 60) {
              ny++;
              document.write("Youyou " + ny + ", " + py + "gr\n");
            } else {
              document.write("Reste " + qp + "gr\n");
            }
            qp -= py;
          } while (qp > 0);
          document.write("Nombre de Youyou : " + ny + "\n")
        </script></code></pre>
      </section>

      <section>
        <h3>Solution</h3>

        <h4>Nouveau régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Youyou
Début
  Répéter
    Ecrire("Quantité de pâte en grammes ? ")
    Lire(qp) // qté de pâte
  Jusqu'à qp > 100

  ny &larr; 0 // nbre youyou
  Répéter
    py &larr; aléa(60, 90) // poids youyou
    Si qp &lt; py Alors
      py &larr; qp
    Fin si
    Si py &ge; 60 Alors
      ny &larr; ny + 1
      Ecrire("Youyou", ny, ",", py, "gr")
    Sinon
      Ecrire("Reste ", py, "gr\n")
    Fin Si
    qp &larr; qp - py
  Jusqu'à qp = 0
  Ecrire("Nombre de Youyou :", ny)
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>qp, ny, py</td>
                  <td>entier</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h4 class="p-break">Ancien régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Début Youyou
  Répéter
    Ecrire("Quantité de pâte en grammes ? ")
    Lire(qp) // qté de pâte
  Jusqu'à qp > 100

  ny &larr; 0 // nbre youyou
  Répéter
    py &larr; aléa(31) + 60 // poids youyou
    Si qp &lt; py Alors
      py &larr; qp
    Fin si
    Si py &ge; 60 Alors
      ny &larr; ny + 1
      Ecrire("Youyou", ny, ",", py, "gr")
    Sinon
      Ecrire("Reste ", py, "gr\n")
    Fin Si
    qp &larr; qp - py
  Jusqu'à qp = 0
  Ecrire("Nombre de Youyou :", ny)
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>qp, ny, py</td>
                  <td>entier</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <div class="d-none">
        <h3>Exemple - Le jeu de l'oie</h3>

        <figure>
          <img src="resources/images/jeu-loie.jpg" alt="Jeu de l'oie">
          <figcaption>Jeu de l'oie</figcaption>
        </figure>

        <p>Yassine joue contre l'ordinateur la version simplifiée du jeu de l'oie qui ne comporte aucun piège et qui est
          sans bonus dans certaines cases.</p>
        <p>Chaque joueur lance, à son tour, deux dés, et avance son pion du nombre tiré. Le premier qui atteint la case
          n°63 est déclaré gagnant.</p>
        <p>Le joueur n'avance pas si son pion dépasse la case n°63 s'il avance du nombre tiré.</p>

        <p>On demande d'écrire un programme qui simule une partie contre l'ordinateur.</p>
      </div>
    </article>

    <article>
      <h2>Structure itérative à condition de marche</h2>

      <section>
        <h3>Exemple 5 - Remplissage de bouteilles</h3>

        <p>Dans une usine de boissons gazeuses l'unité de remplissage des bouteilles est composée par une électrovanne
          nommée <strong>E1</strong> et un capteur laser nommé <strong>c1</strong>.</p>
        <p>A un instant donné, <strong>l'étape de remplissage</strong>, n°205 dans le GRAFCET, <strong>est
            active</strong>. Dans cette étape, le remplissage se poursuit tant que la bouteille n'est pas encore
          remplie, c-à-d <strong>tant que c1 = 1</strong>. Lorsque <strong>c1 = 0</strong>, cela signifie que le liquide
          a atteint le niveau désiré, le remplissage s'arrête.
        </p>

        <figure>
          <img src="resources/images/electrovanne.png" alt="Système de remplissage de bouteilles">
          <figcaption>Système de remplissage de bouteilles</figcaption>
        </figure>

        <p>Pour plus d'efficacité l'usine est équipée par une série de 20 unités de remplissage comme celle décrite
          précédemment. Toutes les unités fonctionnent simultannément.</p>

        <p>Souvent les bouteilles qui passent sous une unité peuvent être déjà remplies par une autre unité, ces
          bouteilles ne nécessitent pas d'être remplies.</p>

        <p><b>On veut écrire un programme pour simuler le processus de remplissage.</b></p>

        <div id="unite-remplissage">
          <h4 class="p-break">Travail demandé</h4>
          <p>Un ingénieur a écrit cet algorithme.</p>
          <pre><code class="language-algorithm">Répéter
  Activer(E1)
Jusqu'à c1 = 0</code></pre>
          <ol>
            <li>Est-ce que cet algorithme est efficace ? Pourquoi ?</li>
            <li>Comment le corriger ?</li>
          </ol>
        </div>

        <div class="d-none d-print-block">
          <h4>Solution</h4>
          <pre><code class="language-algorithm">TantQue c1 = 1 Faire
  Activer(E1)
Fin TantQue</code></pre>
        </div>
      </section>

      <section>
        <h3>Exemple 6 - Entraienement</h3>

        <figure class="d-print-none">
          <img src="resources/images/terrain-athletisme.gif" alt="Terrain d'athlétisme">
          <figcaption>Terrain d'athlétisme</figcaption>
        </figure>

        <p>Deux coureurs s'entrainent pour les jeux olympiques, il font le tour d'un terrain de longueur inconnue.</p>
        <ul>
          <li>Le premier fait un tour en 5 minutes</li>
          <li>Le deuxième fait un tour en 4 minutes</li>
        </ul>
        <p>Sachant qu'ils ont commencé l'entraienement au même instant et à la même position, on veut déterminer après
          combien de temps ils passeront tous les deux par le point de départ.</p>
        <p><strong>Ecrire un programme qui saisit le temps nécessaire aux deux coureurs pour compléter un tour, puis
            calcule et affiche après combien de temps ils se rencontrent de nouveau au point de départ.</strong></p>

        <div id="ex-entrainement">
          <h4>Travail demandé</h4>
          <p>On donne l'algorithme suivant, et on demande de le terminer :</p>
          <div class="row">
            <div class="col-sm-8">
              <pre><code class="language-algorithm">Algorithme entrainement
Début
  Ecrire("Temps pour compléter un tour (joueur 1) ? ")
  Lire(t1)
  Ecrire("Temps pour compléter un tour (joueur 2) ? ")
  Lire(t2)
  // Nombre de tours effectués par le joueur 1
  nt1 &larr; ............... //(1)
  ............... //(2)
    ............... //(3)
  ............... //(4)
  // Temps de rencontre
  tr &larr; ............... //(5)
  nt2 &larr; ............... //(6)
  Ecrire("Rencontre après", tr, "mn au point de départ")
  Ecrire("Joueur 1 a fait", nt1, "tours")
  Ecrire("Joueur 2 a fait", nt2, "tours")
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <div class="d-print-none">
                <div v-if="!winner">
                  <ol>
                    <li class="my-2" v-for="op, idx in operations">
                      <select v-model="selected[idx]">
                        <option v-for="op1, idx1 in operations" v-bind:value="op1.pos">{{op1.op}}</option>
                      </select>
                    </li>
                  </ol>
                  <div class="my-2">
                    <button class="btn btn-primary" v-on:click="verifier()">Vérifier</button>
                  </div>
                </div>
                <div v-else>
                  <ol>
                    <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                  </ol>
                </div>
              </div>
              <div class="d-none d-print-block">
                <ol>
                  <li class="my-2" v-for="op, idx in opordered">{{op.op}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-print-block">
          <div class="row p-break">
            <div class="col-sm-8">
              <h4>Solution</h4>
              <pre><code class="language-algorithm">Algorithme entrainement
Début
  Ecrire("Temps pour compléter un tour (joueur 1) ? ")
  Lire(t1)
  Ecrire("Temps pour compléter un tour (joueur 2) ? ")
  Lire(t2)
  // Nombre de tours effectués par le joueur 1
  nt1 &larr; 1
  TantQue (nt1 * t1 mod t2 &ne; 0) Faire
    nt1 &larr; nt1 + 1
  Fin TantQue
  // Temps de rencontre
  tr &larr; nt1 * t1
  nt2 &larr; tr div t2
  Ecrire("Rencontre après", tr, "mn au point de départ")
  Ecrire("Joueur 1 a fait", nt1, "tours")
  Ecrire("Joueur 2 a fait", nt2, "tours")
Fin</code></pre>
            </div>
            <div class="col-sm-4">
              <table class="table table-sm table-bordered border-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th>Objet</th>
                    <th>Type/Nature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>t1, t2, nt1, nt2, tr</td>
                    <td>entier</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Définition</h3>

        <p>Une <b>structure itérative à condition de marche</b> est utilisée pour répéter une suite d'actions <u><b>tant
              que</b></u>
          une <u><b>condition</b></u> est vraie.</p>

        <div class="row">
          <div class="col-sm-4">
            <pre><code class="language-algorithm">TantQue condition Faire
  // Traitements
Fin TantQue</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-delphi">while condition do begin
  // Traitements
end;</code></pre>
          </div>
          <div class="col-sm-4">
            <pre><code class="language-python">while condition:
  # Traitements
  </code></pre>
          </div>
        </div>
      </section>

      <section>
        <h3>Activité 6 - Palinrome</h3>

        <p>Un mot <strong>palindrome</strong> est un mot qui peut se lire de droite à gauche ou de gauche à droite.</p>
        <p><strong>Exemples</strong> : <ins>EYE</ins>, <ins>ETE</ins>, <ins>RADAR</ins>, <ins>AZIZA</ins></p>
        <p>Pour vérifier si un mot est palindrome on recommande la méthode suivante :</p>
        <ul>
          <li>Comparer le premier et le dernier caractère, s'il sont différents le mot n'est pas palindrome</li>
          <li>Comparer le second et l'avant dernier caractère, s'il sont différents le mot n'est pas palindrome</li>
          <li>Poursuivre la comparaison jusqu'à atteindre le milieu du mot.</li>
          <li>Le mot est palindrome si toutes ses lettres ont été comparées deux à deux et elles sont égales.</li>
        </ul>

        <figure>
          <img class="h3cm" src="resources/images/palindrome.png" alt="Vérifier si un mot est palindrome">
          <figcaption>Vérifier si un mot est palindrome</figcaption>
        </figure>

        <p><strong class="text-danger">Attention ancien régime :</strong> La numérotation commence à partir de 1 pour
          les chaînes de caractères.</p>

        <p>Ecrire un programme qui saisit un mot non vide <strong>mot</strong>, puis vérifie et affiche s'il est
          palindrome.</p>
      </section>

      <section>
        <h3 class="p-break">Solution</h3>

        <h4>Nouveau régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Palindrome
Début
  Répéter
    Ecrire("Donner un mot non vide ? ")
    Lire(mot)
  Jusqu'à (mot &ne; "")
  
  i &larr; 0
  j &larr; long(mot) - 1
  pal &larr; Vrai
  TantQue (j > i) et pal Faire
    pal &larr; mot[j] = mot[i]
    i &larr; i + 1
    j &larr; j - 1
  Fin TantQue
  Si pal Alors
    Ecrire(mot, "est palindrome")
  Sinon
    Ecrire(mot, "n'est pas palindrome")
  Fin Si
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>mot</td>
                  <td>chaine</td>
                </tr>
                <tr>
                  <td>i, j</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>pal</td>
                  <td>booléen</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h4>Ancien régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Début Palindrome
  Répéter
    Ecrire("Donner un mot non vide ? ")
    Lire(mot)
  Jusqu'à (mot &ne; "")
  
  i &larr; 1
  j &larr; long(mot)
  pal &larr; Vrai
  TantQue (j > i) et pal Faire
    pal &larr; mot[j] = mot[i]
    i &larr; i + 1
    j &larr; j - 1
  Fin TantQue
  Si pal Alors
    Ecrire(mot, "est palindrome")
  Sinon
    Ecrire(mot, "n'est pas palindrome")
  Fin Si
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>mot</td>
                  <td>chaine</td>
                </tr>
                <tr>
                  <td>i, j</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>pal</td>
                  <td>booléen</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h3 class="p-break">Activité 7 - Pyramide de balles</h3>

        <figure>
          <img class="h3cm" src="resources/images/pyramide-balles.jpg" alt="Pyramide de balles">
          <figcaption>Pyramide de balles</figcaption>
        </figure>

        <ol>
          <li>Combien y-a-t'il de balles dans l'image ci-dessus ?</li>
          <li>Combien faut-t-il de balles pour ajouter un quatrième niveau ? Quel sera le nombre de balles à ce moment ?
          </li>
          <li>Combien faut-t-il de balles pour coonstruire une pyramide de n niveaux ?</li>
          <li>Ecrire un programme qui saisit le nombre de balles disponibles, puis calcule et affiche l'hauteur de la
            pyramide qu'on peut construire avec.</li>
        </ol>
      </section>

      <section>
        <h3>Solution</h3>

        <h4>Nouveau régime</h4>
        <div class="row">
          <div class="col-sm-8">
            <pre><code class="language-algorithm">Algorithme Palindrome
Début
  Répéter
    Ecrire("Donner le nombre de balles ? ")
    Lire(nbre)
  Jusqu'à (nbre &ge; 0)
  hauteur &larr; 0
  TantQue (nbre > (hauteur+1)*(hauteur+1)) Faire
    hauteur &larr; hauteur + 1
    nbre &larr; nbre - hauteur * hauteur
  Fin TantQue
  Ecrire("L'hauteur maximale de la pyramide :", hauteur)
Fin</code></pre>
          </div>
          <div class="col-sm-4">
            <table class="table table-sm table-bordered border-dark table-striped table-hover">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Type/Nature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>mot</td>
                  <td>chaine</td>
                </tr>
                <tr>
                  <td>i, j</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>pal</td>
                  <td>booléen</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2025/2026</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.min.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python,.language-delphi')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>

  <script src="resources/js/funcs.js"></script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/chapitre03.js"></script>
</body>

</html>