<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Structures Itératives</title>
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Les structures itératives</h1>

    <article>
      <h2>Exercices</h2>

      <section>
        <h3>QCM Bac2019</h3>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 1</h5>
          <div class="question">
            <p>Soit l'algorithme suivant :</p>
            <pre><code class="language-algorithm">Début Inconnu
  Lire(c1) ; Lire(c2)
  c3 &larr; 0
  Pour i de 0 à Long(c2) - 1 Faire
    Si Majus(c2[i]) = Majus(c1) Alors
      c3 &larr; c3 + 1
    Fin Si
  Fin Pour
  Ecrire(c3)
Fin</code></pre>
            <p><b>Ci-dessous des extraits de propositions de tableaux de déclaration des objets utilisés. La déclaration
                correspondante à l'algorithme <strong>Inconnu</strong> est :</b></p>
            <div class="row">
              <div class="col-3">
                <div class="my-2 text-center">Proposition 1</div>
                <table class="table table-sm table-bordered border-dark">
                  <tr>
                    <th>Objet</th>
                    <th>Type</th>
                  </tr>
                  <tr>
                    <td>c1</td>
                    <td>chaîne</td>
                  </tr>
                  <tr>
                    <td>c2</td>
                    <td>chaîne</td>
                  </tr>
                  <tr>
                    <td>c3</td>
                    <td>entier</td>
                  </tr>
                </table>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 2</div>
                <table class="table table-sm table-bordered border-dark">
                  <tr>
                    <th>Objet</th>
                    <th>Type</th>
                  </tr>
                  <tr>
                    <td>c1</td>
                    <td>caractère</td>
                  </tr>
                  <tr>
                    <td>c2</td>
                    <td>caractère</td>
                  </tr>
                  <tr>
                    <td>c3</td>
                    <td>entier</td>
                  </tr>
                </table>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 3</div>
                <table class="table table-sm table-bordered border-dark">
                  <tr>
                    <th>Objet</th>
                    <th>Type</th>
                  </tr>
                  <tr>
                    <td>c1</td>
                    <td>chaîne</td>
                  </tr>
                  <tr>
                    <td>c2</td>
                    <td>caractère</td>
                  </tr>
                  <tr>
                    <td>c3</td>
                    <td>réel</td>
                  </tr>
                </table>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 4</div>
                <table class="table table-sm table-bordered border-dark">
                  <tr>
                    <th>Objet</th>
                    <th>Type</th>
                  </tr>
                  <tr>
                    <td>c1</td>
                    <td>caractère</td>
                  </tr>
                  <tr>
                    <td>c2</td>
                    <td>chaîne</td>
                  </tr>
                  <tr>
                    <td>c3</td>
                    <td>entier</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <p><strong>Quel est la bonne proposition ?</strong></p>
          <ul class="propositions">
            <li>Proposition 1</li>
            <li>Proposition 2</li>
            <li>Proposition 3</li>
            <li>Proposition 4</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="2" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 2</h5>
          <div class="question">
            <p><b>Afin d'améliorer le message d'affichage du résultat de l'algorithme précédent et de le rendre
                significatif relativement au traitement effectué, l'instruction 4 sera rempalcée par l'instruction
                suivante :</b></p>
          </div>
          <ul class="propositions">
            <li>Ecrire("Le nombre de caractères majuscules de", c1, "et", c2, "est :", c3)</li>
            <li>Ecrire("Le nombre d'occurences de", c1, "dans", c2, "est :", c3)</li>
            <li>Ecrire("Le nombre e chiffres dans", c2, "est :", c3)</li>
            <li>Ecrire("Le nombre de caractères communs entre", c1, "dans", c2, "est :", c3)</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="1,3,4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 3</h5>
          <div class="question">
            <p>Soit la suite définie par :</p>
            <ul>
              <li>U<sub>0</sub> = 1</li>
              <li>U<sub>n</sub> = 1 + 1/U<sub>n-1</sub>, pour tout n > 0</li>
            </ul>
            <p><b>La séquence qui permet de déterminer le terme U<sub>n</sub> avec <strong>n &ge; 0</strong> est :</b>
            </p>
            <div class="row">
              <div class="col-3">
                <div class="my-2 text-center">Proposition 1</div>
                <pre><code class="language-algorithm">T[1] &larr; 1
Pour i de 2 à n+1 Faire
  T[i] &larr; 1 + 1/T[i-1]
Fin Pour
Un &larr; T[n+1]
  </code></pre>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 2</div>
                <pre><code class="language-algorithm">U0 &larr; 1
Pour i de 1 à n Faire
  Un &larr; 1 + 1/U0
Fin Pour

  </code></pre>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 3</div>
                <pre><code class="language-algorithm">Un &larr; 1
Pour i de 1 à n Faire
  Un &larr; 1 + 1/Un
Fin Pour

  </code></pre>
              </div>
              <div class="col-3">
                <div class="my-2 text-center">Proposition 4</div>
                <pre><code class="language-algorithm">U0 &larr; 1
Pour i de 1 à n Faire
  Un &larr; 1 + 1/U0
  U0 &larr; Un
Fin Pour
Un &larr; U0</code></pre>
              </div>
            </div>
          </div>
          <p><strong>Quel est la bonne proposition ?</strong></p>
          <ul class="propositions">
            <li>Proposition 1</li>
            <li>Proposition 2</li>
            <li>Proposition 3</li>
            <li>Proposition 4</li>
          </ul>
        </div>
      </section>

      <section>
        <h3>FizzBuzz</h3>

        <p>Le « FizzBuzz » est à l’origine un jeu pour apprendre aux enfants le principe de la division. Les enfants
          doivent énoncer les chiffres dans l’ordre et remplacer le nombre par « Fizz » s’il est divisible par 3 ou «
          Buzz » s’il est divisible par 5.</p>

        <figure>
          <img class="h4cm" src="resources/images/Fizz-Buzz.png" alt="FizzBuzz">
          <figcaption>FizzBuzz</figcaption>
        </figure>

        <p>Ecrire un programme qui simule ce jeu jusqu'à 50.</p>
      </section>

      <section>
        <h3>Moyenne arithmétique</h3>

        <p>Ecrire un programme qui calcule et affiche la moyenne de n entiers (2 ≤ n ≤ 10) saisis au clavier (sans
          utiliser de tableau).</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="moyenne-arithmetique">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Entrer un nombre [2, 10] ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div v-if="step >= 1">
            <div v-for="ti, idx in t" class="my-1">
              Valeur n°{{idx+1}} ?
              <input ref="ti" v-if="step == 1 && idx == t.length - 1" type="text" v-model="t[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{ti}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 2">
            Moyenne arithmétique = {{moy}}
          </div>
          <div class="my-1" v-if="step >=2">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div>Entrer un nombre [2, 10] ? <span>4</span></div>
          <div>Valeur n°1 ? <span>30</span></div>
          <div>Valeur n°2 ? <span>26</span></div>
          <div>Valeur n°3 ? <span>19</span></div>
          <div>Valeur n°4 ? <span>5</span></div>
          <div>Moyenne arithmétique = 20</div>
        </div>
      </section>

      <section>
        <h3>Moyenne arithmétique 2</h3>

        <p>Ecrire un programme qui calcule et affiche la moyenne des entiers saisis au clavier (sans utiliser de
          tableau).</p>

        <p>Le programme s'arrête lorsque l'utilisateur tape le nombre 0.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="moyenne-arithmetique-2">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="ti, idx in t" class="my-1">
              Valeur n°{{idx+1}} (ou 0 pour terminer) ?
              <input ref="ti" v-if="step == 0 && idx == t.length - 1" type="text" v-model="t[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{ti}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">
            Moyenne arithmétique = {{moy}}
          </div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div>Entrer un nombre [2, 10] ? <span>4</span></div>
          <div>Valeur n°1 ? <span>30</span></div>
          <div>Valeur n°2 ? <span>26</span></div>
          <div>Valeur n°3 ? <span>19</span></div>
          <div>Valeur n°4 ? <span>5</span></div>
          <div>Moyenne arithmétique = 20</div>
        </div>
      </section>

      <section>
        <h3>Exercice 2 - Bac 2019</h3>

        <p>Soit la séquence algorithmique suivante, où <strong>x</strong> est un entier naturel :</p>

        <pre><code class="language-algorithm">nb &larr; 1
TantQue (x div 10) &ne; 0 Faire
  nb &larr; nb + 1
  x &larr; x div 10
Fin TantQue</code></pre>

        <h4>Travail demandé</h4>
        <ol>
          <li>Calculer la valeur finale de <strong>nb</strong> pour les valeurs suivantes de <strong>x</strong> :
            <ul>
              <li>5403</li>
              <li>176</li>
              <li>3</li>
            </ul>
          </li>
          <li>Donner le rôle de cette séquence.</li>
          <li>Ecrire une séquence algorithmique équivalente à celle donnée précédemment sans utiliser une structure
            itérative.</li>
        </ol>
      </section>

      <section>
        <h3>Nombre premier</h3>

        <p>Ecrire un programme qui lit un entier n (n ≥ 0), puis affiche s'il est premier ou non.</p>
        <p>Un nombre est dit premier s'il est divisible uniquemeny par lui même et par 1.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="nombre-premier">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Donner un nombre n &ge; 0 ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">{{n}} {{premier ? "est premier" : "n'est pas premier"}}</div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div id="nombre-premier" class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Donner un nombre n ≥ 0 ? <span>71</span></div>
          <div class="my-1">71 est premier</div>
        </div>
      </section>

      <section>
        <h3>Chiffres</h3>

        <p>Écrire un programme qui détermine quels sont les chiffres utilisés dans la représentation d'un nombre n (n >
          0) donné.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="chiffres-nombre">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Donner un nombre n &gt; 0 ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">{{n}} est composé des chiffres {{chiffres}}</div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Donner un nombre n &gt; 0 ? <span>302257</span></div>
          <div class="my-1">302257 est composé des chiffres 0, 2, 3, 5, 7</div>
        </div>
      </section>

      <section>
        <h3>Conversion en base 16</h3>

        <figure>
          <img class="h2cm" src="resources/images/conersion-base-16.png" alt="Conversion en base 16">
          <figcaption>Conversion en base 16</figcaption>
        </figure>

        <p>Écrire un programme qui convertit un nombre n, 0 &le; n &le; 65535, de la base 10 à la base 16 et affiche le
          résultat sur 4 chiffres.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="conversion-hexa">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Donner un nombre 0 &le; n &le; 65535 ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">{{n}}(10) = {{nhexa}}(16)</div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>

        <div class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Donner un nombre 0 ≤ n ≤ 65535 ? <span>635</span></div>
          <div class="my-1">635(10) = 027B(16)</div>
        </div>
      </section>

      <section>
        <h3>Lettres communes</h3>

        <p>Écrire un programme qui saisit deux mots puis détermine les lettres communes et les lettres spécifiques à
          chaque mot.</p>

        <p>Les lettres communes sont <span class="text-success">vertes</span>, et les lettres spécifiques sont <span
            class="text-danger">rouges</span> </p>
        <p class="fs-3 text-center bg-light"><span class="text-success">s</span><span class="text-success">a</span><span
            class="text-danger">m</span><span class="text-success">i</span> - <span class="text-success">s</span><span
            class="text-success">a</span><span class="text-danger">hb</span><span class="text-success">i</span></p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="lettres-communes">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="mot, idx in mots1" class="my-1">
              Donner un premier mot ?
              <input ref="mot1" v-if="step == 0 && idx == mots1.length - 1" type="text" v-model="mots1[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{mot}}</span>
            </div>
          </div>
          <div v-if="step >= 1">
            <div v-for="mot, idx in mots2" class="my-1">
              Donner un second mot ?
              <input ref="mot2" v-if="step == 1 && idx == mots2.length - 1" type="text" v-model="mots2[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{mot}}</span>
            </div>
          </div>
          <div v-if="step >= 2">
            <div class="my-1">Lettres communes : {{common.join(', ')}}</div>
            <div class="my-1">Lettres spécifiques {{mot1}} : {{spec1.join(', ')}}</div>
            <div class="my-1">Lettres spécifiques {{mot2}} : {{spec2.join(', ')}}</div>
          </div>
          <div class="my-1" v-if="step >= 2">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
      </section>

      <section>
        <h3>Anagrammes</h3>

        <p>Écrire un programme qui saisit deux mots différents, puis détermine s'ils sont anagrammes ou non.</p>

        <p>Deux mots anagrammes sont deux mots différents formés par les mêmes caractères dans un ordre différent.</p>

        <p><b>Exemples :</b> cuve, vecu ; rail, lira ; chicane, caniche ; sujet, juste</p>
      </section>

      <section>
        <h3 class="p-break">Exercice 2 - Bac 2017</h3>

        <p>Soit l'algorithme <strong>Exercice</strong> suivant :</p>

        <pre><code class="language-algorithm">Début Exercice
  Lire(ch1)
  Lire(ch2)
  Répéter
    Lire(p)
  Jusqu'à p &le; long(ch1)
  ch &larr; ""
  Pour i de 0 à p-1 Faire
    ch &larr; ch + ch1[i]
  Fin Pour
  ch &larr; ch + ch2
  Pour i de p à Long(ch1)-1 Faire
    ch &larr; ch + ch1[i]
  Fin Pour
  ch1 &larr; ch
  Ecrire(ch1)
Fin</code></pre>

        <h4>Travail demandé</h4>
        <ol>
          <li>Dresser le TDO de cet algorithme</li>
          <li>Quel sera le résultat affiché par cet algorithme pour <strong>ch1 &larr; "BAC 2017", ch &larr; "2016/" et
              p &larr; 4</strong></li>
          <li>Déduire le rôle de cet algorithme.</li>
          <li>Quel est le module prédéfini qui peut jouer le même rôle que cet algorithme ? Proposer l'appel
            correspondant.</li>
        </ol>
      </section>

      <section>
        <h3>Monovocalisme</h3>

        <p>Un mot ou une phrase sont dit <strong>monovocalisme en une lettre donnée</strong> s'il inclut une seule
          voyelle qui se répète une ou plusieurs fois, sans distinction entre majuscules et minuscules</p>

        <p><strong>Exemples : </strong></p>
        <ul>
          <li><strong>"C<span class="text-danger">a</span>s"</strong> est un monovocalisme en "a"</li>
          <li><strong>"<span class="text-danger">E</span>st<span class="text-danger">e</span>ll<span
                class="text-danger">e</span>"</strong> est un monovocaline en "e"</li>
          <li><strong>"L<span class="text-danger">e</span>s R<span class="text-danger">e</span>v<span
                class="text-danger">e</span>n<span class="text-danger">e</span>nt<span
                class="text-danger">e</span>s"</strong> est un monovocaline en "e"</li>
          <li><strong>"G<span class="text-danger">a</span>rg<span class="text-danger">a</span>s P<span
                class="text-danger">a</span>r<span class="text-danger">a</span>c"</strong> est un monovocaline en "a"
          </li>
          <li><strong>"Wh<span class="text-danger">a</span>t <span class="text-danger">a</span> m<span
                class="text-danger">a</span>n !"</strong> est un monovocaline en "a"</li>
        </ul>

        <h4>Travail demandé</h4>
        <p>Ecrire un programme qui saisit une chaîne de caractères non vide <strong>ch</strong> puis affiche s'il s'agit
          d'un monovocalisme en une lettre à déterminer.</p>
      </section>

      <section>
        <h3 class="p-break">Meilleure note</h3>

        <p>Ecrire un programme qui saisit les notes des n élèves d'une classe (3 ≤ n ≤ 30) dans un tableau t, puis
          calcule et affiche la note maximale de la classe.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="meilleure-note">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Nombre d'élèves [3, 30] ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div v-if="step >= 1">
            <div v-for="tval, idx in tvals" class="my-1">
              Valeur n°{{tidx[idx]+1}} ?
              <input ref="tval" v-if="step == 1 && idx == tvals.length - 1" type="text" v-model="tvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{tval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 2">
            La note maximale est {{max}}
          </div>
          <div class="my-1" v-if="step >=2">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div id="meilleure-note" class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div>Nombre d'élèves [3, 30] ? <span>6</span></div>
          <div>Valeur n°1 ? <span>4.75</span></div>
          <div>Valeur n°2 ? <span>17.25</span></div>
          <div>Valeur n°3 ? <span>7.25</span></div>
          <div>Valeur n°4 ? <span>17.5</span></div>
          <div>Valeur n°5 ? <span>4</span></div>
          <div>Valeur n°6 ? <span>3.75</span></div>
          <div>La note maximale est 17.5</div>
        </div>
      </section>

      <section>
        <h3>Jeu de dominos - Bac 2021</h3>

        <p>Le jeu de dominos est un jeu qui comporte 28 pièces. Un domino est formé de 2 parties, chaque partie contient
          de 0 à 6 points.</p>

        <p>Une suite de dominos est dite <strong>valide</strong> si et seulement si la deuxième partie d'un domino est
          égale à la première partie du domino qui est à sa droite.</p>

        <div class="row">
          <div class="col-sm-6">
            <figure>
              <img class="h1cm" src="resources/images/suite-valide-dominos.png" alt="Suite valide de dominos">
              <figcaption>Suite valide de dominos</figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <figure>
              <img class="h1cm" src="resources/images/suite-invalide-dominos.png" alt="Suite invalide de dominos">
              <figcaption>Suite invalide de dominos</figcaption>
            </figure>
          </div>
        </div>

        <p>La suite de dominoes de la <strong><ins>figure 2</ins></strong> est <strong>invalide</strong> car la deuxième
          partie du deuxième domino (6 points) n'est pas égale à la première partie du domino qui est à sa droite (2
          points).</p>

        <p>Afin de simuler ce jeu, on se propose d'utiliser un tableau <strong>D</strong> d'entiers. Chaque case
          contient une valeur comprise entre 0 et 6. Ainsi, le tableau correspondant à la <strong><ins>figure
              1</ins></strong> est représenté comme suit :</p>

        <figure>
          <img class="h2cm" src="resources/images/dominos-figure-1.png" alt="Dominos Figure 1">
          <figcaption>Dominos Figure 1</figcaption>
        </figure>

        <p>Les paires (D[1], D[2]), (D[3], D[4]), (D[5], D[6]), (D[7], D[8]) représentent une suite de quatr dominos.
        </p>

        <h4>Travail demandé</h4>
        <ol>
          <li>Présenter, sous forme d'un tableau D, la suite de dominos de la <strong><ins>figure 2</ins></strong>.</li>
          <li>Erire un programme nommé <strong>suite_dominos</strong> qui :
            <ul>
              <li>Saisit la taille <strong>n</strong> du tableau <strong>D</strong>, avec n un entier pair et 4 &le; n
                &le; 56.</li>
              <li>Remplit le tableau <strong>D</strong> par <strong>n</strong> entiers compris entre 0 et 6.</li>
              <li>Vérifie si la suite de dominos représentée par le tableau <strong>D</strong> est
                <strong>valide</strong> ou <strong>invalide</strong>.
              </li>
            </ul>
          </li>
          <li>Dresser le TDO et le TDNT relatifs à ce problème.</li>
        </ol>
      </section>

      <section>
        <h3 class="p-break">Point d'équilibre - Bac 2020</h3>

        <p>Nous appelons <strong>point d'équilibre</strong> d'un tableau <strong>T</strong> de taille
          <strong>n</strong>, 3 &le; n &le; 20, tout indice <strong>k</strong> qui sépare deux sous tableaux ayant la
          même somme des éléments (<strong>S1 = S2</strong>), avec <strong>S1</strong> la somme des éléments d'indices
          inférieurs à <strong>k</strong> et <strong>S2</strong> la somme des éléments d'indices supérieurs à
          <strong>k</strong>.
        </p>
        <p>Exemple le tableau <strong>T</strong> suivant les cases d'indices 4 et 7 sont des <strong>points
            d'équilibre</strong></p>

        <figure>
          <img class="h4cm" src="resources/images/point-equilibre.png" alt="Les points d'équilibre">
          <figcaption>Les points d'équilibre</figcaption>
        </figure>

        <h4>Travail demandé</h4>
        <ol>
          <li>Saisir un tableau <strong>T</strong> de <strong>n</strong> éléments.</li>
          <li>Déterminer et afficher les <strong>points d'équilibre</strong>.</li>
        </ol>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2025/2026</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.min.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script src="resources/js/draggable.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python,.language-delphi')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/serie03.js"></script>
</body>

</html>