<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Structures Itératives</title>
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/default.css">
  <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Les structures itératives</h1>

    <article>
      <h2>Exercices</h2>

      <section>
        <h3>Moyenne arithmétique</h3>

        <p>Ecrire un programme qui calcule et affiche la moyenne de n entiers (2 ≤ n ≤ 10) saisis au clavier (sans
          utiliser de tableau).</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="moyenne-arithmetique">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Entrer un nombre [2, 10] ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div v-if="step >= 1">
            <div v-for="ti, idx in t" class="my-1">
              Valeur n°{{idx+1}} ?
              <input ref="ti" v-if="step == 1 && idx == t.length - 1" type="text" v-model="t[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{ti}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 2">
            Moyenne arithmétique = {{moy}}
          </div>
          <div class="my-1" v-if="step >=2">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">
            Entrer un nombre [2, 10] ? <span>4</span>
          </div>
          <div class="my-1">
            Valeur n°1 ? <span>30</span>
          </div>
          <div class="my-1">
            Valeur n°2 ? <span>26</span>
          </div>
          <div class="my-1">
            Valeur n°3 ? <span>19</span>
          </div>
          <div class="my-1">
            Valeur n°4 ? <span>5</span>
          </div>
          <div class="my-1">
            Moyenne arithmétique = 20
          </div>
        </div>
      </section>

      <section>
        <h3>Meilleure note</h3>

        <p>Ecrire un programme qui saisit les notes des n élèves d'une classe (3 ≤ n ≤ 30) dans un tableau t, puis
          calcule et affiche la note maximale de la classe.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="meilleure-note">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Nombre d'élèves [3, 30] ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div v-if="step >= 1">
            <div v-for="tval, idx in tvals" class="my-1">
              Valeur n°{{tidx[idx]+1}} ?
              <input ref="tval" v-if="step == 1 && idx == tvals.length - 1" type="text" v-model="tvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{tval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 2">
            La note maximale est {{max}}
          </div>
          <div class="my-1" v-if="step >=2">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div id="meilleure-note" class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Nombre d'élèves [3, 30] ? <span>6</span></div>
          <div class="my-1">Valeur n°1 ? <span>4.75</span></div>
          <div class="my-1">Valeur n°2 ? <span>17.25</span></div>
          <div class="my-1">Valeur n°3 ? <span>7.25</span></div>
          <div class="my-1">Valeur n°4 ? <span>17.5</span></div>
          <div class="my-1">Valeur n°5 ? <span>4</span></div>
          <div class="my-1">Valeur n°6 ? <span>3.75</span></div>
          <div class="my-1">La note maximale est 17.5</div>
        </div>
      </section>

      <section>
        <h3>Nombre premier</h3>

        <p>Ecrire un programme qui lit un entier n (n ≥ 0), puis affiche s'il est premier ou non.</p>
        <p>Un nombre est dit premier s'il est divisible uniquemeny par lui même et par 1.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="nombre-premier">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Donner un nombre n &ge; 0 ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">{{n}} {{premier ? "est premier" : "n'est pas premier"}}</div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div id="nombre-premier" class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Donner un nombre n ≥ 0 ? <span>71</span></div>
          <div class="my-1">71 est premier</div>
        </div>
      </section>

      <section>
        <h3>Chiffres</h3>

        <p>Écrire un programme qui détermine quels sont les chiffres utilisés dans la représentation d'un nombre n (n >
          0) donné.</p>

        <h4>Exemple</h4>
        <div class="d-print-none border border-secondary bg-dark text-light p-2" id="chiffres-nombre">
          <div class="my-1" v-if="step == -1">
            <button class="btn btn-primary" v-on:click="nextStep()">Simulation</button>
          </div>
          <div v-if="step >= 0">
            <div v-for="nval, idx in nvals" class="my-1">
              Donner un nombre n &gt; 0 ?
              <input ref="nval" v-if="step == 0 && idx == nvals.length - 1" type="text" v-model="nvals[idx]"
                v-on:keydown.enter="validate(idx)">
              <span v-else>{{nval}}</span>
            </div>
          </div>
          <div class="my-1" v-if="step >= 1">{{n}} est composé des chiffres {{chiffres}}</div>
          <div class="my-1" v-if="step >= 1">
            <button class="btn btn-secondary" v-on:click="reset()">Reset</button>
          </div>
        </div>
        <div id="chiffres-nombre" class="d-none d-print-block border border-secondary bg-dark text-light p-2">
          <div class="my-1">Donner un nombre n &gt; 0 ? <span>302257</span></div>
          <div class="my-1">302257 est composé des chiffres 0, 2, 3, 5, 7</div>
        </div>
      </section>

      <section>
        <h3>Conversion en base 16</h3>

        <figure>
          <img src="resources/images/conersion-base-16.png" alt="Conversion en base 16">
          <figcaption>Conversion en base 16</figcaption>
        </figure>

        <p>Écrire un programme qui convertit un nombre n, 0 &le; n &le; 65535, de la base 10 à la base 16 et affiche le
          résultat sur 4 chiffres.</p>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2021/2022</div>
  </footer>

  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/highlight.min.js"></script>
  <script src="resources/js/hljs.algorithm.js"></script>
  <script src="resources/js/clipboard.min.js"></script>
  <script src="resources/js/pages.js"></script>
  <script src="resources/js/draggable.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python,.language-delphi')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
  <script src="resources/js/vue.min.js"></script>
  <script src="resources/apps/serie03.js"></script>
</body>

</html>